h1{
    text-align:center;
    color:blue;
}

.list{
    line-height:180%;
}

body{
    background-color: white;
}

a:link {
    text-transform:uppercase;
    color:palevioletred;
}

a:visited{
    color:royalblue;
}

a:hover{
    font-size:xx-large;
    color:red;
}
