#hurricane{
    height:400px;
    float:right;
}

#tsunami{
    height:400px;
    float:right;
}

#earthquake{
    height:400px;
    float:right;
}

#storm{
    height:400px;
    float:right;
}